body {
    font-family: Arial;
    padding: 20px;
    text-align: center;
}

input {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #00a2ff;
    color: white;
    border: none;
    border-radius: 6px;
}

#result {
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
}
